.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
