.home{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 600px;
    background-image: url(../../assets/Image/backgroud.png);
    background-position: end;
    background-size: 40%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 30px;
}

.home__conainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 300px;
    margin-right: 13%;
    margin-top: 100px;
}

.home__container__title h1{
    font-size: 70px;
    color: #3F65B9;
}
.home__container__search{
    display: flex;
    width: 400px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
}
input{
    border: none;
    padding-left: 2rem;
    border-radius: 20px;
    width: 320px;
}
input:focus{
    outline: none;
    border: none;
}
.home__container__search--btn{
    width: 35px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}
#pokeball{
    width: 35px;
}

.home__container__all{
    width: 250px;
    margin: 50px;
    background-color: #FBC418;
    border-radius: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3F65B9;
    cursor: pointer;
    transition: 300ms;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.home__container__all:hover{
  transition: 300ms;
  transform: scale(1.09)

}
@media only screen and (max-width:1200px){
  .home__conainer{
    margin-right: 3%;
  }
}

@media only screen and (max-width:1000px){
  .home{
    height: 400px;
  }
  .home__conainer{
    height: 200px;
    width: 400px;
    margin-top: 50px;
  }
  .home__container__title h1{
    font-size: 50px;
  }
}

@media only screen and (max-width:700px){
  .home{
    height: 320px;
  }
  .home__conainer{
    width: 300px;
  }
  .home__container__title h1{
    font-size: 35px;
  }
  .home__container__all{
    font-size: 16px;
    width: 170px;
  }
}
@media only screen and (max-width:485px){
  .home{
    height: 240px;
  }
  .home__conainer{
    height: 160px;
    width: 240px;
    margin-top: 20px;
  }
  .home__container__title h1{
    font-size: 26px;
    font-weight: bold;
  }
  .home__container__all{
    height: 50px
  }
  .home__container__all h3{
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (max-width:400px){
  .home{
    flex-direction: column;
    height: 400px;
    align-items: center;
    background-position-x: center;
    background-size: 70%;
  }
}
@media only screen and (max-width:330px){
  .home{
    height: 350px;
  }
}
@media only screen and (max-width:300px){
  .home{
    height: 280px;
  }
  .home__conainer{
    height: 100px;
  }
  .home__container__all{
    margin: 10px;
    height: 30px;
  }
}
