<div class="home">
    <div class="home__conainer">
        <div class="home__container__title">
            <h1>Catch them all!!!</h1>
        </div>
        <!-- <div class="home__container__search">
            <input type="text" class="home__container__search--input" placeholder="Pesquise pelo nome">
            <div class="home__container__search--btn">
                <img id="pokeball" src="../../assets/Image/pokeball-icon.png">
            </div>
        </div> -->
        <div class="home__container__all" (click)="exportBtnAll(true)">
            <h3>All Pokemons</h3>
        </div>

    </div>
</div>
